name: Maven Build

on:
  push:
    branches: [ '*' ]
  pull_request:
    branches: [ '*' ]

jobs:
  build:
    strategy:
      matrix:
        os: [ ubuntu-latest, macOS-latest ]
        java: [ 11, 15 ]
      fail-fast: false

    runs-on: ${{ matrix.os }}
    timeout-minutes: 120

    steps:
    - uses: actions/checkout@v2
    - name: Set up JDK ${{ matrix.java }}
      uses: actions/setup-java@v1
      with:
        java-version: ${{ matrix.java }}
    - name: Build with Maven
      run: mvn -B package --file pom.xml
    - name: Upload surefire artifact
      uses: actions/upload-artifact@v2-preview
      if: failure()
      with:
        name: ${{ matrix.os }}-surefire
        path: target/surefire-reports/*
