name: Maven Code Coverage

on:
  push:
    branches: [ '*' ]
  pull_request:
    branches: [ '*' ]

jobs:
  build:
    strategy:
      matrix:
        os: [ ubuntu-latest ]
        java: [ 15 ]
      fail-fast: false

    runs-on: ${{ matrix.os }}
    timeout-minutes: 120

    steps:
    - uses: actions/checkout@v2
    - name: Set up JDK ${{ matrix.java }}
      uses: actions/setup-java@v1
      with:
        java-version: ${{ matrix.java }}
    - name: Test with Maven
      run: mvn clean -B test --file pom.xml
    - uses: codecov/codecov-action@v2
      with:
        verbose: true
